<header class="header">
    <nav class="site-navigation">
        <ul class="nav">
            <li class="dropdown">
                <a>
                    <img src="/assets/images/list.png" alt="" srcset="">
                </a>
                <div class="mega-menu">
                    <ul class="links">
                        <li>
                            <a (click)="scroll('home')"> Home</a>
                        </li>
                        <li>
                            <a (click)="scroll('offer')"> Offer</a>
                        </li>
                        <li>
                            <a (click)="scroll('item')">Item</a>
                        </li>
                        <li>
                            <a (click)="scroll('products')">Products</a>
                        </li>
                        <li>
                            <a (click)="scroll('TEMPLATE-Awesome')">TEMPLATE Awesome </a>
                        </li>
                        <li>
                            <a (click)="scroll('footer')"> Footer</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="background" [ngClass]="visibilityBackground ? '' : 'hide' ">
                <a href="#">
                    <h1>CRIOS</h1>
                    <P>FREE PSD TEMPLATE</P>
                </a>
            </li>
            <li><a href="#"> <img src="../../../assets/images/search.png" alt="" srcset=""></a></li>
        </ul>
    </nav>
</header>