$white: #ffffffff;
$primary: #61b4fe;
$secondary: #dddddd;

a {
  text-decoration: none;
  color: #000;
  z-index: 1204;
}

.header {
  margin: 0 100px;
  position: sticky;
  top: 0;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .6em 0;
  display: inline-block;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
  padding: 5px 8px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s;

  &:before {
    content: "";
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background: $white;
    box-shadow: 0 0 10px 0px rgb(213 213 213), 0px 1px 20px 0px rgb(255 237 237 / 0%);
    position: absolute;
    z-index: 1024;
    transition: all 1s;
  }

  img {
    padding: 5px;
  }
}

li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.mega-menu {
  position: absolute;
  width: 100%;
  left: -70%;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);

  .links {
    background: $white;
    box-shadow: 0 0 10px 0px rgb(213 213 213), 0px 1px 20px 0px rgb(255 237 237 / 0%);
    margin: 0;
    border-radius: 10px;

    li {
      &:hover {
        background-color: none;
        color: none;
      }

      &:before {
        content: "";
        border-radius: 0;
        width: 100%;
        padding-bottom: 100%;
        background: $white;
        box-shadow: none;
        // border-bottom: 1px solid #ddd;
        position: absolute;
        z-index: 1024;
        transition: all 1s;
        padding: 0;
      }

      a {
        font-size: 0.8rem;
      }
    }
  }
}

header {
  .hide {
    display: none !important;
  }
  .background {
    position: absolute;
    z-index: 1;
    background: $white;
    color: $primary;
    box-shadow: 0 0 10px 0px rgb(213 213 213), 0px 1px 20px 0px rgb(255 237 237 / 0%);
    text-align: center;
    border-radius: 50%;
    padding: 20px;
    top: -110px;
    left: 0;
    right: 0;
    width: 250px;
    height: 200px;
    margin: auto;

    h1 {
      position: relative;
      bottom: -60px;
      color: $primary;
      font-weight: 100;
      font-size: 2rem;
    }

    p {
      position: relative;
      bottom: -70px;
      color: $secondary;
      font-size: 0.8rem;
    }
  }
}

.drop {
  position: absolute;
  top: 10%;

  &:hover {
    display: block;
  }
}

@media (max-width: 768px) {
  .site-navigation li {
    margin: unset;
  }

  header .background {
    margin: auto;
  }
}