<section id="offer">
    <div class="content">
        <p class="pb-2">Lorem ipsum dolor sit amen consenter.</p>
        <h1 class="pb-2">Lorem ipsum dolor sit amen </h1>
        <div class="box-offer">
            <div class="box">
                <img class="pb-2" src="../../../assets/images/c1.png" alt="" srcset="">
                <div class="box-body">
                    <span class="pb-2">Lorem ipsum dolor sit amen </span>
                    <p class="pt-2">Lorem, ipsum dolor sit amen consenter adipisicing elite.</p>
                </div>
            </div>
            <div class="box">
                <img class="pb-2" src="../../../assets/images/c2.png" alt="" srcset="">
                <div class="box-body">
                    <span class="pb-2">Lorem ipsum dolor sit amen </span>
                    <p class="pt-2">Lorem, ipsum dolor sit amen consenter adipisicing elite.</p>
                </div>
            </div>
            <div class="box">
                <img class="pb-2" src="../../../assets/images/c3.png" alt="" srcset="">
                <div class="box-body">
                    <span class="pb-2">Lorem ipsum dolor sit amen </span>
                    <p class="pt-2">Lorem, ipsum dolor sit amen consenter adipisicing elite.</p>
                </div>
            </div>
            <div class="box">
                <img class="pb-2" src="../../../assets/images/c4.png" alt="" srcset="">
                <div class="box-body">
                    <span class="pb-2">Lorem ipsum dolor sit amen </span>
                    <p class="pt-2">Lorem, ipsum dolor sit amen consenter adipisicing elite.</p>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn my-2">CHECK OUR OFFER </button>
        </div>
    </div>
</section>