/* You can add global styles to this file, and also import other style files */
$white: #ffffffff;
$primary: #61b4fe;
$secondary: #dddddd;

@font-face {
    font-family: font-Montserrat-regular;
    src: url(./assets/fonts/Montserrat-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "font-Montserrat-regular", sans-serif;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pt-2 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 2rem;
}

.mt-4 {
    margin-top: 2rem;
}
.my-2{
    margin: 20px 0;
}
.btn {
    background: $white;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    color: $primary;
    box-shadow: 0 0 10px 0px rgb(213 213 213), 0px 1px 20px 0px rgb(255 237 237 / 0%);
    transition: all 1s;
    &:hover {
        background: $primary;
        color: $white;
    }
}

p {
    color: $secondary;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
}

@media (max-width: 768px) {
    
h1 {
    font-size: 1rem;
}
}